@model RouteModel.Placemark

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Placemark</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacemarkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacemarkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StyleMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StyleMap.StyleMapName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
